.footer {
	font-family: 'Exo 2', sans-serif;
    background-color: #263238;
}
.footer p, h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    color: #cccccc;
    opacity: 0.8;
    display: flex;
}
.footer a {
    text-decoration: none;
    color: #cccccc;
    font-size: 16px;
    opacity: 0.8;
    margin: 8px 0px 0px;
}
.material-icons {
    margin: 0px 10px 0px 0px;
}
.footer__blocks {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: wrap;

    padding: 15px 0px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1b2428;
    height: 30px;
    padding: 5px 0px;
}
#footer__contacts a{
    display: flex;
    align-items: center;
}
.copyright p {
    text-align: center;
    margin: 0px;
    display: block;
}
@media screen and (max-width: 1000px){
    .footer__blocks {
        padding-left: 25px;
        align-items: flex-start;
        justify-content: start;
        flex-direction: column;
    }
}