@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Inter&family=Roboto+Slab&display=swap');
body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    scroll-behavior: smooth;
}
.main {
    height: 100vh;
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/dals.by/assets/main_page.jpg);
}
.about__section {
    font-family: 'Roboto Slab', serif;
}
.m__h1, .m__h2 .about__section, .what__we__do p, .service__name {
    text-shadow: 2px 1px 2px rgba(65, 122, 196, 0.5);
}
.main h1, h2, .what__we__do p, .m__h2, .section__description, .section__block, .section__text p, .service__name, .contact__info {
    text-align: center;
}
.main h1, h2 {
    color: #fff;
    margin: 15px;
}
.what__we__do {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 25px;
    color: #fff;
}
.what__we__do p {
    font-size: 20px;
    margin: 18px 0px;
    display: flex;
}
.section__description, .section__name {
    color: rgba(65, 122, 196);
    margin: 0px;
    padding: 8px 0px;
}
.m__h1, .section__name {
    font-size: 64px;
}
.m__h2, .section__description {
    font-size: 32px;
}
.section__blocks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section__block {
    width: 40vw;
    aspect-ratio: 1.5;
    display: flex;
    box-shadow: 10px 10px 10px 2px rgba(65, 122, 196, 0.35);
    border-radius: 20px;
    margin: 25px;
} 
.section__text p {
    margin: 25px;
    font-size: 26px;
}
.about__us__photo {
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/dals.by/assets/about_us.jpg);
}
.our__job__photo {
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/dals.by/assets/our_job.jpg);
}
.loft__photo {
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/dals.by/Loft/assets/Main_block.jpg);
}
.ladle__photo {
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/dals.by/Ladle/assets/main.jpg);
}
.reveng__photo {
    background-image: url(https://cdn.jsdelivr.net/gh/IKEENOO/dals.by/RevEng/assets/main.jpg);
}

.main, .services, .works, .services__cards, .card__image, .contacts, .works__cards, .contacts, .contact, .contact__info, .about__us, .our__job, .loft {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main, .services, .works, .what__we__do, .about__us, .our__job, .loft, .contact__info {
    flex-direction: column;
}
.services__cards {
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}
.service__card {
    height: 250px;
    border-radius: 20px;
}
.main, .card__image, .works__card, .section__photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card__image {
    height: 100%;
    border-radius: 20px;
}
.service__name {
    color: #fff;
    font-size: 32px;
    margin: 0px;
}
.works__card, .service__card {
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px rgba(65, 122, 196, 0.35);
    margin: 25px;
}

.works__cards {
    flex-wrap: wrap;
}
.works__card {
    width: 400px;
    height: 290px;
}
.link__button {
    display: flex;
    background: linear-gradient(20deg, rgba(65,122,196,1) 0%, rgba(83,89,155,1) 70%);
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 25px;
}
.link__for__info {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}
#link__button a {
    display: flex;
    align-items: center;
}
.contact__info p {
    margin: 0px;
}
.contact__info a {
    text-decoration: none;
    color: black;
    display: inherit;
    padding: 10px;
}
.map, .contact__info {
    box-shadow: 10px 10px 10px 2px rgba(65, 122, 196, 0.35);
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    margin: 25px;
}
#contact__info a {
    display: flex;
    align-items: center;
}
.material-icons, .icons {
    margin: 0px 10px 0px 0px;
}
@media screen and (max-width: 1280px){
    .section__block, .about__us__blocks, .our__job__block, .services__cards, .contact{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .section__photo, .map {
        width: 90vw;
        height: 40vh;
        margin: 10px auto;
    }
    .section__text, .contact__info {
        height: auto;
        width: 90vw;
        margin: 20px auto;
    }
    .services__card, .works__card {
        width: 375px;
        margin: 25px auto;
    }
}
@media screen and (max-width: 400px){
    .services__card {
        width: auto;
        margin: 25px 10px;
    }
}
@media screen and (max-width: 450px){
    .services__card, .works__card {
        width: 90vw;
        margin: 25px auto;
    }
    .section__name {
        font-size: 40px;
    }
    .m__h2 {
        font-size: 24px;
    }
}