body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    
}
.main__block {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    height: 100vh;
    background-image: url(../assets/Main_block.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.tagline__block {
    max-width: 70vw;
    margin: auto auto 5vw 5vw;
}
hr {
    width: 90%;
}
.tagline__text {
    color: #fff;
    font-size: 5vh;
}
.first__block, .second__block {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.pic__block, .text__block {
    width: 50vw;
}
.text__block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__box {
    margin: auto 10vw;
}
.text__box p {
    font-size: 24px;
}
.pic__block {
    height: 100vh;
    width: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    background-color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.footer__tagline {
    font-size: 24px;
    color: #fff;
    margin: 12px auto;
    text-align: center;
}
.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover {
    opacity: 1;
}
.footer__logo {
margin: 20px auto;
    height: 32px;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    padding: 25px 0px;
}
.copyright p {
    color: #fff;
    text-align: center;
}