body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}
.pic {
    height: 25vh;
    width: 100%;
    background-image: url(../assets/pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about__section {
    text-shadow: 2px 1px 2px rgba(26, 43, 23, 0.35);
}
.section__description {
    font-size: 32px;
    text-align: center;
    margin: 0px;
    padding: 8px 0px;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;
}
.contact__info p {
    padding: 10px;
    margin: 0px;
}
.contact__info a {
    text-decoration: none;
    color: black;
}
.map, .contact__info {
    box-shadow: 10px 10px 10px 2px rgba(26, 43, 23, 0.35);
    width: 40vw;
    height: 60vh;
    border-radius: 20px;
    margin: 25px;
}
.map {
    filter: grayscale(100%);
}
.c__h5 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0px;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-size: 24px;
}
#contact__info a {
    display: flex;
    align-items: center;
}
.material-icons {
    margin: 0px 10px 0px 0px;
}
@media screen and (max-width: 1280px){
    .contact{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .map {
        width: 90vw;
        height: 40vh;
        margin: 10px auto;
    }
    .contact__info {
        height: auto;
        width: 90vw;
        margin: 20px auto;
    }

}



.copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #252525;
    height: 30px;
    padding: 25px 0px;
}
.copyright p {
    color: #fff;
}