body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Advent Pro', sans-serif;
}
.main__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/Main_block.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.tagline__text {
    color: #fff;
    text-shadow: 1px 1px 1px #252525;
    font-size: 5vw;
    margin-top: 70px;
    text-align: center;
}
.link__blocks {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    width: 100vw;
}
.link__block {
    width: 30vw;
    color: #fff;
    border:rgba(0, 0, 0, 0) 1px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    transition: 0.7s;
}
.link__block:hover {
    border: #fff 1px solid;
}
hr {
    width: 90%;
}
@media screen and (max-width: 800px){
    .link__blocks {
        flex-direction: column;
    }
    .link__block {
        width: 90vw;
        margin: 20px auto;
    }
}
.material-icons {
    margin: 0px 10px 0px 0px;
}
