body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    
}
.main__block {
    display: flex;
    align-items: end;
    justify-content: start;
    height: 100vh;
    background-image: url(../assets/Main_block.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.tagline__block {
    width: 35vw;
    margin-left: 5vw;
    margin-bottom: 5vw;
}
.tagline__text {
    color: #fff;
    font-size: 48px;
}
.first__block, .second__block {
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.pic__block, .text__block {
    width: 50vw;
}
.text__block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__box {
    margin: auto 10vw;
}
.text__box p {
    font-size: 24px;
}
.pic__block {
    height: 100vh;
    width: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.copyright {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #252525;
    height: 30px;
    padding: 25px 0px;
}
.copyright p {
    color: #fff;
}