body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Advent Pro', sans-serif;
}
:root  {
    --leadColor: #fff;
}
.footer__tagline, .footer ul li a, .copyright p {
    color: var(--leadColor);
}
.pic {
    height: 25vh;
    background-image: url(../assets/pic.jpg);
}
.pic, .work__card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 48px;
}
.works, .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}
.works {
    flex-wrap: wrap;
}
.works:hover > :not(:hover) {
    opacity: 0.4;
    transform: scale(0.9);
}
.work__card {
    width: 300px;
    aspect-ratio: 1/1.1;
    margin: 20px;
    transition: .35s;
    cursor: pointer;
}
@media screen and (max-width: 1281px) {
    .container {
        width: 100%;
    }
}
.footer {
    background-color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer__tagline {
    font-size: 24px;
    margin: 12px auto;
    text-align: center;
}
.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a {
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li {
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover {
    opacity: 1;
}
.footer__logo {
    margin: 20px auto;
    height: 32px;
}
.copyright {
    height: 30px;
    padding: 25px 0px;
}